html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerLanding {
  flex: 1;
  width: 70vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: auto;
}

.footer a {
  color: #666;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  font-size: 12px;
  color: #666;
  margin-top: auto;
}

.header a {
  color: #666;
  text-decoration: none;
}

.header a:hover {
  color: #090909;
}
.aTag a{
  color: #090909;
  text-decoration: none;
}
.aTag a:hover {
  color: #2d2c2f;
  font-size: medium;
}

.UserInfo {
  display: flex;
  justify-content: space-between;

}

.githubUser,
.gitRepo {
  flex: 1;
  margin-right: 10px;
  align-items: center;
}
.gitRepo h1{
  margin-top: 5rem;
  text-align: center;
}
.gitCard{
  text-align: center;
  margin-top: 25%;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  background: rgb(240, 240, 240);
  height: fit-content;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .githubUser,
  .gitRepo {
    width: 50%;
    align-items: center;
  }
  .gitCardRepo{
    width: 40%;
  }
}
@media (min-width: 992px) {
  .githubUser,
  .gitRepo {
    width: 63.33%;
    align-items: center;
  }
  .gitCardRepo{
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .gitCard{
    width: 60%;
  }
  .gitCardRepo{
    width: 60%;
  }
}
@media (max-width: 700px) {
  .gitCard{
  width: 60%;
  flex-direction: column;
  align-items: center;
  }
  .gitCardRepo{
    width: 50%;
  }
}

.gitCardRepo{
  margin-top: 5%;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  background: rgb(240, 240, 240);
  height: fit-content;
  margin-bottom: 3rem;
}


.CardsRepository {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  height: fit-content;
}

.gitCardRepo .wrapper {
  display: flex;
  flex-direction: column;
}

.gitCardRepo .title {
  margin: 0;
}

.gitCardRepo .subtitle {
  margin: 0;
}

.gitCardRepo .stats {
  display: table-row;

  align-items: center;
}

.gitCardRepo .stats span {
  flex-direction: column;
  margin-right: 1rem;
}


.headerS h1{
  color: rgb(17, 17, 17);
  font-weight: bold;
  font-size: 70px;
}

.sub-heading{
  color: rgb(17, 17, 17);
  width: 50%;
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 24px;
}

.TextInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  vertical-align: inherit;
  display: flex;
  margin-top: 15%;
  border: none;
  border-radius: 10px 0 0 10px;
  font: 400 1.2rem Poppins;
  width: 95%;
  
  @media (max-width: 700px) {
    border-radius: 10px;
  }
}
.inputContainer{
  display: flex;
  align-items: center;

  width: 500px;
  margin-bottom: 1rem;

}
.inputGroup {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.inputText {
  margin-bottom: 0.5rem;
  display: block;
}

.inputBox {
  flex: 1;
  margin-right: 0.5px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0px 0px 0px 0px;
  font: 400 1.2rem Poppins;
  width: 95%;
  background: rgb(240, 240, 240);
  color: rgb(17, 17, 17);
  writing-mode: horizontal-tb !important;
  
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

#button-addon2{
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 2.0rem;
  padding: 20px;
  font: 400 1rem Poppins;
  width: 10rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(20, 20, 20);
  color: rgb(245, 245, 245)
}